.container {
    background-color: rgba(0, 0, 0, 0.192);
    height: 40vh;
    width: 100vh;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li {
      background-color: #333; /* Cor de fundo escura */
      color: white;
      height: 5vh; /* Altura da barra */
      width: 40vh;
      border-radius: 25px; /* Cantos arredondados */
      margin: 10px 0; /* Espaçamento entre os itens */
      display: flex;
      align-items: center; /* Centraliza verticalmente */
      padding: 0 20px; /* Espaçamento interno */
    }